<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h2>USER INFO</h2>
<form action="/db_update" method="POST" enctype="multipart/form-data">

        <div class="form-group">
            <label>Unique Username:- </label>
              <div class="custom-file">
                <input type="text" class="custom-file-input" name="username" placeholder="JohnB1">
              </div>
              <label>Full Name:- </label>
              <div class="custom-file">
                <input type="text" class="custom-file-input" name="name" placeholder="John Barber">
              </div>
            <label>Communication Preference:- </label>
            <div class="custom-file">
                <input type="text" class="custom-file-input" name="communication_preference" placeholder="Telegram, Messenger , Whatsapp">
            </div>
            <label>Do you enjoy working with children?:- </label>
            <div class="custom-file">
                <input type="text" class="custom-file-input" name="ques_1" placeholder="1, 2, 3..">
            </div>
            <label>Do you enjoy teaching and are academically inclined?:- </label>
            <div class="custom-file">
                <input type="text" class="custom-file-input" name="ques_2" placeholder="1, 2, 3..">
            </div>
            <label>Do you like animals?:- </label>
            <div class="custom-file">
                <input type="text" class="custom-file-input" name="ques_3" placeholder="1, 2, 3..">
            </div>
            <label>Are you a sports connoisseur (soccer, basketball, football) and in decent physical shape?:- </label>
            <div class="custom-file">
                <input type="text" class="custom-file-input" name="ques_4" placeholder="1, 2, 3..">
            </div>
            <label>Would you enjoy helping the elderly carry out everyday tasks?:- </label>
            <div class="custom-file">
                <input type="text" class="custom-file-input" name="ques_5" placeholder="1, 2, 3..">
            </div>
            <label>Are you very organized and enjoy coordinating events?:- </label>
            <div class="custom-file">
                <input type="text" class="custom-file-input" name="ques_6" placeholder="1, 2, 3..">
            </div>
        </div>

        <button type="submit" class="btn btn-primary">Submit</button>

      </form>
